
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("TinhTong","Demo"))
{
    <label>số thứ nhất:</label>
    <input type="text" name="soA" />
           <br\>
    <label>số thứ 2</label>
               <input type="text" name="soB" />
               <input type="submit" value="Tính Tổng" />

}


